<table>
  <thead>
  <tr>
    <th>Call List ID</th>
    <th>Call List Name</th>
    <th>Starts At</th>
    <th>Ends At</th>
    <th></th>
  </tr>
  </thead>
<tbody>
<% @oncall_assignments.each do |oncall_assignment| %>
  <tr>
    <td class='cell_link'><%= link_to oncall_assignment.call_list.id, oncall_assignment.call_list %></td>
    <td class='cell_link'><%= link_to oncall_assignment.call_list.name, oncall_assignment.call_list %></td>
    <td><%= l(oncall_assignment.starts_at, :format => :short_with_tz)  if oncall_assignment.starts_at %></td>
    <td><%= l(oncall_assignment.ends_at, :format => :short_with_tz)  if oncall_assignment.ends_at %></td>
    <td><%= link_to 'Delete', call_list_oncall_assignment_path(oncall_assignment.call_list.id, oncall_assignment.id), :remote => true, :method => 'delete', :confirm => "Are you sure?" %></td>
  </tr>
<% end %>
</tbody>
</table>
