<div class="clear"></div>
<br/>
<b>My Call Lists</b><br/>
<div class="clear"></div>
<div class="grid_12">
<% if @call_lists.blank? %>
  <div class='content_box'>You don't have any call list.</div>
<% else %>
<%= render :partial => 'call_lists/listing' %>
</div>
<% end %>
<div class="grid_2">
<%= link_to jquery_ui_button_icon("New Call List", "ui-icon-plusthick", "newcalllist").html_safe, new_call_list_path %>
</div>

<br/>
<div class="clear" style="padding:7px"></div>

<b>My Oncall Assignments</b><br/>
<div class="grid_12">
<% if @oncall_assignments.blank? %>
  <div class="content_box">None at this moment</div>
<% else %>
  <%= render :partial => 'my_oncalls' %>
<% end %>
</div>

<br/>
<div class="clear" style="padding:7px"></div>

<b>My Vacations</b><br/>
<div id="vacation_calendar" class="grid_12">
  <%= render :partial => 'vacation_calendar' %>
</div>
<div class="grid_3">
  <%= link_to jquery_ui_button_icon("Add Vacation", "ui-icon-plusthick", "addvacationlink").html_safe , "#add_vacation", :class => 'nyroModal' %>
  <br/>
  <br/>
  <i>Tip: You can add and modify your vacations by directly clicking/dragging on the calendar.</i>
</div>
<div id="add_vacation" style="display:none">
  <br/>
  <%= render :partial => 'add_vacation' %>
</div>

<%= javascript_tag do %>
$(document).ready(function(){
  $('.nyroModal').nyroModal();
});
<% end %>
