<h1>Listing vacations</h1>

<table>
  <tr>
    <th>User</th>
    <th>Starts at</th>
    <th>Ends at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @vacations.each do |vacation| %>
  <tr>
    <td><%= vacation.user_id %></td>
    <td><%= vacation.starts_at %></td>
    <td><%= vacation.ends_at %></td>
    <td><%= link_to 'Show', vacation %></td>
    <td><%= link_to 'Edit', edit_vacation_path(vacation) %></td>
    <td><%= link_to 'Destroy', vacation, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
