<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Phonetic name:</b>
  <%= @user.phonetic_name %>
</p>

<% if @user.phone_number_info %>
<p>
  <b>Phone number:</b>
  <%= @user.phone_number %>
</p>
<% else %>
<p>
<b>Phone info not available</b>
</p>
<% end %>

<p>
  <b>SMS Email:</b>
  <%= @user.sms_email %>
</p>

<p>
  <b>Roles:</b>
  <%= @user.roles_names %>
</p>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
