<p id="notice"><%= notice %></p>

<p>
  <b>Call list:</b>
  <%= @call_list_owner.call_list_id %>
</p>

<p>
  <b>User:</b>
  <%= @call_list_owner.user_id %>
</p>


<%= link_to 'Edit', edit_call_list_owner_path(@call_list_owner) %> |
<%= link_to 'Back', call_list_owners_path %>
