<h1>Listing smart_contact_lists</h1>

<table>
  <tr>
    <th>Call list</th>
    <th>Contact type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @smart_contact_lists.each do |smart_contact_list| %>
  <tr>
    <td><%= smart_contact_list.call_list_id %></td>
    <td><%= smart_contact_list.contact_type %></td>
    <td><%= link_to 'Show', smart_contact_list %></td>
    <td><%= link_to 'Edit', edit_smart_contact_list_path(smart_contact_list) %></td>
    <td><%= link_to 'Destroy', smart_contact_list, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Smart contact list', new_smart_contact_list_path %>
