<div id='calendar'></div>

<%= javascript_tag do %>
$(document).ready(function(){
  var date = new Date();
  var d = date.getDate();
  var m = date.getMonth();
  var y = date.getFullYear();

  $('#calendar').fullCalendar({
    header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,basicWeek,basicDay'
    },
    editable: true,
    theme: true,

    selectable: true,
    selectHelper: true,
    select: function(start, end, allDay) {
      $('.nyroModal').nmCall();
      $('#oncall_assignment_starts_at').val(start.format('m/d/Y 08:00 O'));
      $('#oncall_assignment_ends_at').val(end.format('m/d/Y 08:00 O'));
    },

    //http://arshaw.com/fullcalendar/docs/event_ui/eventDrop/
    eventDrop: function(event, dayDelta, minuteDelta, allDay, revertFunc){
        updateEvent(event);
    },

    // http://arshaw.com/fullcalendar/docs/event_ui/eventResize/
    eventResize: function(event, dayDelta, minuteDelta, revertFunc){
        updateEvent(event);
    },

    eventClick: function(event, jsEvent, view) {
        if(event.url) {
           jsEvent.preventDefault();
           $.nmManual(event.url);
        }                    
    }, 
    
    eventSources: [{
        url: '<%= call_list_oncall_assignments_url @call_list %>',
        color: 'blue',
        textColor: 'white',
        ignoreTimezone: false
      },
      {
        url: '<%= url_for :controller => :call_lists, :action =>  'members_vacations', :id => @call_list.id %>',
        color: 'lightblue',
        textColor: 'black',
        ignoreTimezone: false,
        editable: false
      }
    ]
  });

  addCalButton("left", "Export iCal", "export_ical");
  $("#export_ical").click(function () { 
    location.href = "<%= url_for(:controller => 'call_list_calendars',
                                :action => 'ical',
                                :id => @call_list.call_list_calendar.id) %>";
  });

  <% if @gotodate %>
    $('#calendar').fullCalendar('gotoDate', new Date(<%= @gotodate %>));
  <% end %>
});

function updateEvent(the_event) {
  $.ajax({
    type: "PUT",
    url: the_event.url + ".js",
    data: { oncall_assignment: { oncall: the_event.title,
                             starts_at: "" + the_event.start,
                             ends_at: "" + the_event.end
                           }
          }
  }).done(function( msg ) {
    //alert("Updated successfully");
  });
}

function addCalButton(where, text, id) {
    var my_button = '<span class="fc-header-space"></span>' +
                    '<span id="' + id + '" class="fc-button ui-state-disabled"><span class="fc-button-inner">' + text +'</span></span>';
    $("td.fc-header-" + where).append(my_button);
    $("#" + id).button();
}

<% end %>

