<%= form_for(setup_call_list(@call_list)) do |f| %>
  <% if @call_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@call_list.errors.count, "error") %> prohibited this call_list from being saved:</h2>

      <ul>
      <% @call_list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :phonetic_name %> (Useful for Twilio integration)<br />
    <%= f.text_field :phonetic_name %>
  </div>
 
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <br/> 
  <b>Owner(s):</b>
  <div class="field">
  <%= f.fields_for :call_list_owners do |ff| %>
    <% user_array = User.order('username').collect {|s| ["#{s.username} | #{s.first_name} #{s.last_name}", s.id]} %>
    <%= ff.select :user_id, user_array, {:include_blank => true} %>
  <% end %>
  </div>

  <br/> 
  <b>Oncall Calendar:</b><br/>
  <%= f.fields_for :call_list_calendar do |ff| %>
    <div class="field">
      <%= ff.label :type %>
      <%= ff.select :ctype, Ringring::Calendar::Type::select_options %>
    </div>
    <div class="field">
      <%= ff.label :url %>
      <%= ff.text_field :url %> (only for "remote" calendar)
    </div>
  <% end %>

  <br/> 
  <b>Business Hours:</b><br />
  <div class="field">
    <%= f.fields_for :business_hours do |ff| %>
      <%= ff.select :wday, day_options %>
      from <%= ff.text_field :start_time, :value => fmt_time(ff.object.start_time), :class => 'timefield_with_zone' %>
      to  <%= ff.text_field :end_time, :value => fmt_time(ff.object.end_time), :class => 'timefield_with_zone' %><br/>
    <% end %>
  </div>
  <div class="clear"></div>

  <br/>
  <b>Oncall Auto-assignments</b> (optional & only for local oncall calendar)<br/>
  <%= f.fields_for :oncall_assignments_gen do |ff| %>
    <div class="field">
      <%= ff.check_box :enable %>Automatically assign oncall assignments? <br/>
      Oncall cycle begins and ends on <%= ff.select :cycle_day, day_options %>
      <%= ff.text_field :cycle_time, :value => fmt_time(ff.object.cycle_time.in_time_zone), :class => 'timefield_with_zone' %>
      <br/>
      Start generating on: <%= ff.text_field :last_gen , :class => 'datetimefield' %>
    </div>
  <% end %>

  <br/>
  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>

<script type="text/javascript">
   function get_time_zone_offset(date) {
     var gmt_offset = -date.getTimezoneOffset( )/60;
     return gmt_offset;
   }
   function get_timezone(date) {
     var i = get_time_zone_offset(date);
     var timezone = (i >= 0 ? '+' : '-') + ('0' + Math.abs(i).toString()).slice(-2) + '00'
     return timezone
   }

  $('.timefield').timepicker({
                  ampm: true,
  });

  $('.timefield_with_zone').timepicker({
                  ampm: true,
                  stepMinute: 5,
                  hour: 8,
                  //timeFormat: 'hh:mm tt z',
                  timeFormat: 'hh:mm tt',
                  //showTimezone: true,
                  timezoneList: my_timezone,
                  //timezone: get_timezone(new Date())
  });
  $('.datetimefield').datetimepicker({
                  stepMinute: 5,
                  hour: 8,
                  // timeFormat: 'hh:mm z',
                  timeFormat: 'hh:mm',
                  //showTimezone: true,
                  timezoneList: my_timezone,
                  //timezone: get_timezone(new Date())
   });
</script>
