<p id="notice"><%= notice %></p>

  <b>Basic Info</b><br/>
  <div class="grid_12 content_box">
  Name: <%= @call_list.name %><br/>
  Owners: <%= @call_list.owners.map{|user| user.username}.join(", ") %><br/>
  Email: <%= @call_list.email %><br/>
  </div>
  <div class="clear" style="padding:7px"></div>

  <b>Business Hours</b><br/>
  <div class="grid_12 content_box">
  <% @call_list.business_hours.each do |business_hour| %>
    <%= Date::ABBR_DAYNAMES[business_hour.wday] %> from <%= fmt_time(business_hour.start_time) %>
      to <%= fmt_time(business_hour.end_time) %><br/>
  <% end %>
  </div>
  <div class="clear" style="padding:7px"></div>

  <b>Current Oncalls</b><br/>
  <div class="grid_12">
    <div id="oncall_assignments">
      <%= render :partial => 'oncall_assignments/listing', :locals => {:oncall_assignments => @call_list.current_oncalls} %>
    </div>
    <div id="add_oncall_assignment_link">
      <%= link_to jquery_ui_button_icon("View All Oncall Assignments", "ui-icon-carat-2-n-s", "view_oncall_assignments").html_safe, call_list_oncall_assignments_path(@call_list)  %>
      <%= link_to jquery_ui_button_icon("Add Oncall Assignment", "ui-icon-plusthick", "addoncall_assignment").html_safe , "#add_oncall_assignment", :class => 'nyroModal' %>
      <% unless @call_list.call_list_calendar.ctype == Ringring::Calendar::Type::LOCAL %>
        <%= link_to jquery_ui_button_icon("Pull From Calendar", "ui-icon-arrowreturnthick-1-s", "pullfromcalendar").html_safe, :action => 'pull_oncalls_from_calendar', :call_list_id => @call_list.id  %>
      <% else %>
        <!--
        <%= jquery_ui_button_icon("Show/Hide Calendar", "ui-icon-calculator", "showcalendar").html_safe %>
        -->
      <% end %>
    </div>
    <div id="add_oncall_assignment" style="display:none">
      <br/>
      <%= render :partial => 'add_oncall_assignment' %>
    </div>
  </div>
  <div class="clear"></div>
  <br/>

  <b>Oncall Calendar</b><br/>
  <% if @call_list.call_list_calendar.ctype != Ringring::Calendar::Type::LOCAL %>
  <div id="oncall_calendar" class="grid_12">
    Remote Calendar URL: <%= display_calendar_link %><br/>
    Calendar Type: <%= @call_list.call_list_calendar.ctype %><br/>
  </div>
  <% else %>
  <div id="oncall_calendar" class="grid_12">
    <%= render :partial => 'calendar' %>
    <!--
    <%= link_to_function jquery_ui_button_icon("Export iCal", "ui-icon-arrowthickstop-1-s", "exportical").html_safe , "alert('To be implemented')" %>
    <%= link_to_function jquery_ui_button_icon("Export Outlook", "ui-icon-arrowthickstop-1-s", "exportoutlook").html_safe , "alert('To be implemented')" %>
    -->
  </div>
  <% end %>
<div class="clear"></div>

<br/>
<b>Call Escalations</b><br/>
<div class="grid_12 content_box">
<div id="call_escalations">
  <% if @call_list.call_escalations.empty? %>
  Empty
  <% else %>
  <%= render :partial => 'call_escalations/listing', :locals => {:call_escalations => @call_list.call_escalations} %>
  <% end %>
</div>
<div id="add_entry" style="display:none">
  <%= render :partial => 'add_call_escalation' %>
</div>
<div id="add_entry_link">
  <%= link_to_function jquery_ui_button_icon("Add Entry", "ui-icon-plusthick", "addentry").html_safe , "$('#add_entry').show(); $('#add_entry_link').hide()" %>
</div>
</div>

<div class="clear"></div>
<br/>
<b>Smart Contact Specs</b><br/>
<div class="grid_12 content_box">
<div id="smart_contact_lists">
<%= render :partial => 'smart_contact_lists/listing', :locals => {:smart_contact_lists => @call_list.smart_contact_lists} %>
</div>
<div id="add_smart_contact" style="display:none">
  <%= render :partial => 'add_smart_contact' %>
</div>
<div id="add_smart_contact_link">
  <%= link_to_function jquery_ui_button_icon("Add Entry", "ui-icon-plusthick", "add_smart_contact").html_safe , "$('#add_smart_contact').show(); $('#add_smart_contact_link').hide()" %>
  <%= link_to jquery_ui_button_icon("View Smart Contacts", "ui-icon-circle-zoomin", "view_smart_contacts").html_safe, "smart_contacts?call_list=#{@call_list.name}" %>
</div>
</div>

<div class="clear"></div>
<br/>
<b>Members</b><br/>
<div class="grid_12">
<div id="call_list_memberships">
  <% if @call_list.members.empty? %>
  Empty
  <% else %>
  <%= render :partial => 'call_list_memberships/listing', :locals => {:call_list_memberships => @call_list.members} %>
  <% end %>
</div>
<div id="add_member" style="display:none">
  <%= render :partial => 'add_member' %>
</div>
<div id="add_member_link">
  <%= link_to_function jquery_ui_button_icon("Add Member", "ui-icon-plusthick", "addentry").html_safe , "$('#add_member').show(); $('#add_member_link').hide()" %>
</div>
</div>

<%= javascript_tag do %>
$(document).ready(function(){
   $('#call_escalations').sortable({
       axis: 'y',
       dropOnEmpty: false,
       cursor: 'crosshair',
       items: 'li',
       opacity: 0.4,
       scroll: true,
       update: function(){
          $.ajax({
              type: 'post',
              data: $('#call_escalations').sortable('serialize'),
              dataType: 'script',
              complete: function(request){
                 $('#call_escalations').effect('highlight');
              },
              url : "/call_lists/<%=@call_list.id%>/call_escalations/sort"
          })
       }
   });

  $('#showcalendar').click(function() {
    $('#oncall_calendar').toggle();
    $('#calendar').fullCalendar( 'today' );
  });

  $('.nyroModal').nyroModal();

});
<% end %>

<div class="clear"></div>
<br/>
<div>
<%= link_to 'Edit', edit_call_list_path(@call_list) %> |
<%= link_to 'Back', call_lists_path %>
</div>
<br/>
